header {
  width: 100%;
  position: relative;
  z-index: 10;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  gap: 11px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.chefLogo {
  width: 50px;
}

.headerTitle {
  font-size: 2em;
  font-weight: 400;
}
